<div class='index-body d-flex flex-column'>
<h2 class='splash-logo'>Budgetly</h2>



<div class='user-sign-cont d-flex flex-column'>
        <button class='sign-btn sign-b'><%= link_to 'Sign in', new_user_session_path, class: 'sign-btn-link-b' %></button>
        <button class='sign-btn'><%= link_to 'Sign up', new_user_registration_path, class: 'sign-btn-link' %></button>
</div>
</div>